In [40]:
# Add the Pandas dependency.
import pandas as pd
import os

In [41]:
# File to load
vine_csv= "vine_table1.csv"

In [42]:
# read vine table csv
vine_table_df = pd.read_csv(vine_csv)
vine_table_df

/var/folders/wn/64qklcyd5_772k9m03mf_3tr0000gn/T/ipykernel_55814/3056997150.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  vine_table_df = pd.read_csv(vine_csv)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3I2DHQBR577SS,5.0,0.0,0.0,N,Y
1,R1QNE9NQFJC2Y4,5.0,0.0,0.0,N,Y
2,R3LIDG2Q4LJBAO,5.0,0.0,0.0,N,Y
3,R3KSZHPAEVPEAL,5.0,0.0,0.0,N,Y
4,RAI2OIG50KZ43,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
5115661,RZ7RZ02MTP4SL,5,10.0,10.0,N,N
5115662,R2IRC0IZ8YCE5T,3,23.0,23.0,N,N
5115663,R1U4ZSXOD228CZ,5,89.0,97.0,N,N
5115664,R3SFJLZE09URWM,5,10.0,10.0,N,N
5115665,R1MEWK4I7YS5XK,5,23.0,23.0,N,N

In [ ]:
vine_table_df.dtypes

In [43]:
helpful_reviews_df = vine_table_df[vine_table_df['total_votes'] >= 20]
helpful_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
31,R2QRUE9REK8OUC,5.0,18.0,23.0,N,Y
102,R2POXRW6PXHXZG,5.0,25.0,30.0,N,Y
212,RZN43XRZ89IIJ,3.0,10.0,27.0,N,N
337,R29Q748WSHZ3SN,5.0,23.0,24.0,N,Y
357,R46UL5G5HEPRZ,5.0,18.0,20.0,N,N
...,...,...,...,...,...,...
5115658,R3SHWVR8GO9WK4,5,26.0,26.0,N,N
5115659,R2KNC11QJB7V5U,5,30.0,34.0,N,N
5115662,R2IRC0IZ8YCE5T,3,23.0,23.0,N,N
5115663,R1U4ZSXOD228CZ,5,89.0,97.0,N,N
5115665,R1MEWK4I7YS5XK,5,23.0,23.0,N,N

In [ ]:
helpful_reviews_df.dtypes

In [39]:
reliable_votes = helpful_reviews_df.loc[(helpful_reviews_df['helpful_votes']/helpful_reviews_df['total_votes'] >= 0.5)]
reliable_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
31,R2QRUE9REK8OUC,5.0,18.0,23.0,N,Y
102,R2POXRW6PXHXZG,5.0,25.0,30.0,N,Y
337,R29Q748WSHZ3SN,5.0,23.0,24.0,N,Y
357,R46UL5G5HEPRZ,5.0,18.0,20.0,N,N
386,R2UQHSNWU6WTZX,5.0,74.0,76.0,N,N
...,...,...,...,...,...,...
5115658,R3SHWVR8GO9WK4,5,26.0,26.0,N,N
5115659,R2KNC11QJB7V5U,5,30.0,34.0,N,N
5115662,R2IRC0IZ8YCE5T,3,23.0,23.0,N,N
5115663,R1U4ZSXOD228CZ,5,89.0,97.0,N,N
5115665,R1MEWK4I7YS5XK,5,23.0,23.0,N,N

In [46]:
paid_reviews_df = reliable_votes.loc[(reliable_votes['vine'] == "Y")]
paid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
33773,R106V6GUNWRSSS,5.0,857.0,889.0,Y,N
38256,R37N8KZS48W36A,5.0,36.0,37.0,Y,N
58582,R1LNEQ2MQE03PD,5.0,49.0,66.0,Y,N
61695,R1ECPWPUNK36ES,5.0,29.0,31.0,Y,N
95790,R16BUM7UQZLOM6,3.0,107.0,112.0,Y,N
...,...,...,...,...,...,...
5069133,R23P18F8OSXQXL,5,38.0,40.0,Y,N
5069569,R39VHZ5XXVYKN,5,22.0,27.0,Y,N
5069642,R2F4KBBD3MTMKP,5,390.0,423.0,Y,N
5069824,RQY6RA1SE9R3H,5,20.0,23.0,Y,N
5069975,R6SS5MXSYP0FI,5,25.0,30.0,Y,N

In [47]:
unpaid_reviews_df = reliable_votes.loc[(reliable_votes['vine'] == "N")]
unpaid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
31,R2QRUE9REK8OUC,5.0,18.0,23.0,N,Y
102,R2POXRW6PXHXZG,5.0,25.0,30.0,N,Y
337,R29Q748WSHZ3SN,5.0,23.0,24.0,N,Y
357,R46UL5G5HEPRZ,5.0,18.0,20.0,N,N
386,R2UQHSNWU6WTZX,5.0,74.0,76.0,N,N
...,...,...,...,...,...,...
5115658,R3SHWVR8GO9WK4,5,26.0,26.0,N,N
5115659,R2KNC11QJB7V5U,5,30.0,34.0,N,N
5115662,R2IRC0IZ8YCE5T,3,23.0,23.0,N,N
5115663,R1U4ZSXOD228CZ,5,89.0,97.0,N,N
5115665,R1MEWK4I7YS5XK,5,23.0,23.0,N,N

In [59]:
total_reviews_df = reliable_votes.count()
print (total_reviews_df)

review_id            74760
star_rating          74760
helpful_votes        74760
total_votes          74760
vine                 74760
verified_purchase    74760
dtype: int64

In [66]:
five_star_df = reliable_votes.loc[(reliable_votes['star_rating'] == "5")]
five_star_df.count()

review_id            606
star_rating          606
helpful_votes        606
total_votes          606
vine                 606
verified_purchase    606
dtype: int64

In [76]:
paid_fivestar = five_star_df.loc[(five_star_df['vine'] == "Y")]
paid_fivestar.count()

review_id            1
star_rating          1
helpful_votes        1
total_votes          1
vine                 1
verified_purchase    1
dtype: int64

In [71]:
five_star_all = five_star_df.count()
vine_five = paid_fivestar.count()
perc_paid = vine_five/five_star_all*100
perc_paid

review_id            0.165017
star_rating          0.165017
helpful_votes        0.165017
total_votes          0.165017
vine                 0.165017
verified_purchase    0.165017
dtype: float64

In [65]:
unpaid_fivestar = five_star_df.loc[(five_star_df['vine'] == "N")]
unpaid_fivestar

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
262456,R1VOL5A7V7TIIH,5,22.0,26.0,N,Y
262491,RWRR2C3TVGDDD,5,33.0,35.0,N,Y
262817,R16Z9LDQZYM440,5,26.0,27.0,N,Y
262854,R3NSWY2DKET66M,5,36.0,40.0,N,N
262979,R2261TBCBQHD8X,5,24.0,31.0,N,Y
...,...,...,...,...,...,...
392423,R1SL7BTYQQC9TQ,5,29.0,51.0,N,Y
392463,R3MCSGEN9Z3BIC,5,45.0,51.0,N,Y
392576,R2OBQIMSAKB989,5,53.0,61.0,N,N
392724,R394I7JYU4XHC5,5,25.0,27.0,N,Y
392776,R1QE76LDXOZSF4,5,28.0,30.0,N,Y

In [75]:
five_star_all = five_star_df.count()
novine_five = unpaid_fivestar.count()
perc_unpaid = novine_five/five_star_all*100
perc_unpaid

review_id            99.834983
star_rating          99.834983
helpful_votes        99.834983
total_votes          99.834983
vine                 99.834983
verified_purchase    99.834983
dtype: float64